
<h1>Ask a question</h1>

<h2> What do you want to ask</h2>



<form action="/answer" data-turbo="false">
<label for="member"></label>
  <input  type="text" name="member" >
  <input  type="submit" value="Ask!">
</form>

<!--- <a href="/answer">Ask your question</a> -->


 <%= link_to("Ask a new question", ask_path)  %>

<!-- link_to "WHAT IT SHOULD SAY", WHERE IT SHOULD GO -->
<!-- answer_path = "/contact" -->
